<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div th:replace="fragments/fragments :: header"></div>


<form th:action="'/post/' + ${displayedUser.id}" method="POST">
  <div class="mb-3">
    <label for="body" class="form-label">Post</label>
    <textarea class="form-control" id="body" rows="3" name="body"></textarea>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Post</button>
  </div>
</form>

<div th:each="user: ${users}">
  <h5 th:text="${user.getUsername()}"></h5>
  <form th:action="'/follow/'+${user.id}" method="post" >
    <!--        <input type="hidden" th:value="${user.id}" name="id">-->
    <input type="submit" value="Follow" >
  </form>
</div>

<div th:replace="fragments/fragments :: posts"></div>
</body>
</html>