<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div th:replace="fragments/fragments :: header"></div>


<form th:action="'/post/' + ${displayedUser.id}" method="POST">
  <div class="mb-3">
    <label for="body" class="form-label">Post</label>
    <textarea class="form-control" id="body" rows="3" name="body"></textarea>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Post</button>
  </div>
</form>


<div th:each="user: ${users}" style="border-style: solid;border-width: 2px;padding-left: 30px;padding-right: 30px; width: fit-content; ">
  <div th:each="post : ${user.posts}">
  <a th:href="@{/user/{id}(id = ${user.getId()})}" methods="get" style=" text-decoration: none;">
    <h1 th:text="${user.getUsername()}"></h1>
  </a>
    <p th:text="${post.createdAt}"></p>
    <p th:text="${post.body}"></p>
</div>

</div>
<!--<div th:replace="fragments/fragments :: posts"></div>-->
</body>
</html>